<header>
       <div class="container">
              <div class="row">
                     <div class="col-sm-12 p-flex p-flex-align-center p-flex-justify-content">
                            <ul class="content-left">
                                   <li> <a href=""><img src="../../favicon.ico"></a></li>
                                   <li><a href="#" [routerLink]="['/']" [routerLinkActive]="'is-active'">Home</a>
                                   </li>
                                   <li><a href="#">Work</a></li>
                                   <li href=""><a href="#">Contact</a></li>
                                   <li href="">
                                          <a href="#">Project</a>
                                   </li>
                            </ul>
                            <ul class="content-right">
                                   <li>
                                          <a href="https://www.facebook.com/" target="_blank"><i
                                                        class="uil uil-facebook-f"></i></a>
                                   </li>
                                   <li><a href="https://www.github.com/" target="_blank"><i
                                                        class="uil uil-github"></i></a></li>
                                   <li href="">
                                          <label class="">
                                                 <div class="switch">
                                                        <input id="language-toggle"
                                                               class="check-toggle check-toggle-round-flat"
                                                               type="checkbox">
                                                        <label for="language-toggle"></label>
                                                        <span class="on">EN</span>
                                                        <span class="off">VN</span>
                                                 </div>
                                          </label>
                                   </li>
                            </ul>
                     </div>
              </div>
       </div>
</header>