<section class="about_section" id="about">
       <h1 class="section_title"> About Me</h1>

       <div class="about_container container grid">
              <div class="about_info">
                     <span class="section_subtitle">My introduction</span>
                     <p> I am a fourth-year student majoring in Information Technology at Saigon University, seeking an
                            opportunity to
                            intern as a Front-end Developer. With my knowledge and experience, I hope to learn new
                            skills,
                            develop
                            myself, and contribute to the company
                     </p>
                     <span class="section_skill">Technical skills</span>
                     <div>
                            <p><span>Programing language:</span> Proficient in using HTML, CSS, JavaScript and PHP to
                                   design and
                                   develop websites.
                            </p>
                     </div>
                     <div>
                            <p><span> environment:</span> Working with technologies such as Xampp, MySQL, Angular,
                                   NodeJS,
                                   ReactJS to develop
                                   web applications
                            </p>
                     </div>
                     <div>
                            <p><span>Other skills</span>: Understanding basic concepts of Object-Oriented Programming
                                   (OOP),
                                   Software Development Life Cycle (SDLC) and database concepts.
                            </p>
                     </div>
                     <div>
                            <button><a download="" href="../assets/CV/NguyenHaQuocBao_Front-End_Intern.pdf"
                                          class="button_downloadCV">Download my CV <i
                                                 class="uil uil-file-download"></i></a></button>
                     </div>
              </div>
              <img src="../assets/imageAbout.jpg" class="about_img">
       </div>
</section>