section {
       padding: 10px 0;
       text-align: center;
       z-index: 1;
}

h2 {
       font-size: 2.5rem;
       padding-bottom: 5px;
}

div {
       display: inline-block;
       width: 340;
       height: 120px;
       text-align: left;

       i {
              color: #F36F25;
              font-weight: bold;
              padding-right: 5px;
       }
}