<section class="work">
       <h1 class="section_title">Work experience</h1>
       <div class="work_info">
              <div>
                     <p><span><i class="uil uil-book-reader"></i> Student: </span>Students at Saigon University majoring
                            in information technology from
                            2019
                            to 2023
                     </p>
              </div>
              <div>
                     <p><span><i class="uil uil-laptop"></i> Angular Front-end Intern: </span> Intern at <a
                                   href="https://zeronine.com.vn/" target="_blank">ZeroNine</a>
                            company from July 1, 2023 to August
                            1,
                            2023
                     </p>
              </div>
       </div>
</section>