section {
       padding: 10px 0;
       text-align: center;
       z-index: 1;
       border-bottom: 1px solid rgb(248, 248, 248);
}

h2 {
       font-size: 2.5rem;
       padding-bottom: 5px;
}

.work_info {
       width: 800px;
       height: 200px;

       display: inline-block;
       text-align: left;

       p {

              padding: 17px 0;
       }

       span {
              font-size: 1.5rem;
              padding-bottom: 5px;
       }

       div {


              span {
                     font-size: 19px;
                     font-family: 'Times New Roman', Times, serif;
                     font-weight: 500;
                     color: #F36F25;
              }

              a {
                     color: #F36F25;
              }

              a:hover {
                     font-weight: bold;
              }

       }
}