<section class="p-wrapper">
       <!-- HEADER -->
       <app-header></app-header>
       <!-- HEADER END-->

       <!-- HOME -->
       <app-home></app-home>
       <!-- HOME END -->

       <!-- ABOUT -->
       <app-about> </app-about>
       <!-- END ABOUT -->

       <!-- WORK -->
       <app-work></app-work>
       <!-- END WORK -->

       <!-- CONTACT -->
       <app-contact></app-contact>
       <!-- END CONTACT -->

       <!-- ROUTER -->
       <router-outlet></router-outlet>
       <!-- ROUTER END -->
</section>