.image_home_blob {
       width: 400px;
       height: 400px;
}

.home_container {
       gap: 1rem;
}

.col-sm-12 {
       display: flex;
       padding: 5px 50px;

       .home_data {
              padding-top: 70px;

              h1 {
                     color: black;
                     padding-bottom: 10px;
              }

              h3 {
                     color: rgb(39, 39, 39);
                     padding-bottom: 10px;
              }

              p {
                     color: rgb(99, 99, 99);
                     padding-bottom: 15px;
              }

              button {
                     height: 32px;
                     width: 140px;
                     border-radius: 5%;
                     border: none;

                     a {
                            font-weight: 600;
                            color: rgb(37, 37, 37);
                     }
              }

              button:hover {
                     background-color: #F36F25;

                     a {
                            color: white;
                     }
              }
       }

}

.home_scroll {
       a {
              font-family: Arial, Helvetica, sans-serif;
              color: gray;
              font-size: 22px;
              font-weight: 500;

              span {
                     font-size: 17px;
              }
       }

       a:hover {
              color: black;
       }
}